.footer {
    width: 882px;
    margin: 0 auto;
  }
  
  @media (max-width : 1023px) {
    .footer {
      width: 682px;
    }
  }
  
  @media (max-width : 767px) {
    .footer {
      width: 482px;
    }
  }
  
  @media (max-width : 500px) {
    .footer {
      width: 320px;
    }
  }